<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"  
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!--設定 log 輸出目標-->
	<targets>
		<target name="file" xsi:type="AsyncWrapper">  <!--AsyncWrapper異步紀錄-->
			<!--longdate時間日期，level日記等級(uppercase設置大小寫)，exception:stacktrace紀錄異常中的StackTrace信息，maxArchiveDays日誌檔案保存天數-->
			<target xsi:type="File"
					fileName="${basedir}/logs/${date:format=yyyy-MM-dd-HH}.log"
					layout="${longdate} ${level:uppercase=true} ${message} ${exception:stacktrace}${newline}" 
					maxArchiveDays="30"/>
		</target>
	</targets>

	<!--設定不同 log level 的 routing 路徑-->
	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>