.paginationA {
    width: 45px;
    text-align: center;
}

.paginationSpan {
    width: 45px;
    cursor: pointer;
}

#pageInput {
    width: 50px;
}

.paginationTotal {
    display: inline-block;
    width: 120px;
    vertical-align: middle;
    margin-right: 10px;
    line-height: 38px;
}